<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="/js/app.js"></script>


    
</head>

<body>
    <div class="main-content">
        {{>headers}}

    <img class="portrait" src="img/WhatsApp Image 2021-11-25 at 1.10.54 PM.jpeg">
        
    </div>
   
    {{>footer}}
        <!-- <img src="img/WhatsApp Image 2021-11-25 at 1.10.54 PM.jpeg" idth="200" height="300"> -->


    
</body>
</html>